[submodule "seqan3"]
	path = seqan3
	url = https://github.com/seqan/seqan3.git
	branch = master
[submodule "HighFive"]
	path = HighFive
	url = https://github.com/BlueBrain/HighFive.git
	branch = master
[submodule "robin-hood-hashing"]
	path = robin-hood-hashing
	url = https://github.com/martinus/robin-hood-hashing.git
	branch = master
[submodule "eigen"]
	path = eigen
	url = https://gitlab.com/libeigen/eigen.git
	branch = 3.3
[submodule "indicators"]
	path = indicators
	url = https://github.com/p-ranav/indicators.git
