[submodule "seqan3"]
	path = seqan3
	url = git@github.com:seqan/seqan3.git
	branch = master
[submodule "robin-hood-hashing"]
	path = robin-hood-hashing
	url = git@github.com:martinus/robin-hood-hashing
	branch = a695906
